
.dashboard {
  padding: 20px;
}

.dashboard-title {
  margin-bottom: 20px;
  text-align: center;
}

.dashboard-paper {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px; /* Add margin-bottom to create space between papers */
}

.dashboard-paper .MuiTypography-h6 {
  margin-bottom: 10px;
}

.dashboard-paper .MuiTypography-h4 {
  margin-bottom: 5px;
}

.dashboard-paper .MuiTypography-colorTextSecondary {
  font-size: 0.875rem;
  color: #757575;
}

.month-days {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.week-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.week-row .MuiButton-root {
  min-width: 40px;
  margin: 2px; /* Add margin to create space between buttons */
  font-size: 1.2rem; /* Increase the size of the date numbers */
  position: relative;
  color: black; /* Set the text color to black */
}

.week-row .MuiButton-root .task-indicator {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5051F9; /* Change color for task indicator */
}

.week-row .MuiButton-root.MuiButton-contained {
  background-color: #DAD0FF !important; /* Change background color for selected date */
  color: black !important; /* Ensure the text color remains black */
}

.chart-section {
  margin-top: 20px; /* Adjust this value to decrease the space */
  padding: 20px; /* Reduce padding to make the chart more compact */
}

.chart-container {
  max-width: 600px; /* Set a max-width for the chart */
  margin: 0 auto; /* Center the chart horizontally */
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month-navigation .MuiButton-root {
  min-width: 40px;
}

.month-display {
  color: black; /* Change this color to black */
}