.kpi-detail {
  padding: 20px;
}

.nav-container {
  margin-bottom: 20px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav span {
  margin: 0 5px;
  color: #777;
}

.task-list {
  display: flex;
  gap: 20px;
}

.required-tasks,
.optional-tasks {
  flex: 1;
}

.task-widget {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  background-color: #8380FE; /* Default background color */
}

.task-widget.completed {
  background-color: #fff; /* Background color when task is completed */
}

.task-widget.overdue:not(.completed) {
  background-color: #FF6B57; /* Background color for overdue tasks */
}

.task-widget:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 3D border effect on hover */
}

.task-widget p {
  margin: 0; /* Removes default margin of paragraphs */
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Space between checkbox and content */
}

.task-info {
  flex-grow: 1; /* Allows the widget content to occupy the remaining space */
}

.optional-tasks {
  display: flex;
  flex-direction: column;
}

.optional-tasks h3 {
  margin-bottom: 10px;
}

.optional-tasks-select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.optional-tasks-select select {
  margin-right: 5px; /* Space between the dropdown and the text */
}

/* KPI Chart Styles */
.kpi-chart-container {
  margin-top: 10px;
}

.kpi-chart {
  height: 20px;
  background-color: #5051F9; /* Green color for the chart */
  border-radius: 5px;
  transition: width 0.3s ease;
}

.kpi-chart-container p {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.task-info a {
    color: #1a73e8; /* Màu xanh cho link */
    text-decoration: none; /* Loại bỏ gạch chân */
    font-weight: bold; /* In đậm chữ */
    margin-top: 5px; /* Khoảng cách phía trên */
    display: block; /* Hiển thị dưới dạng khối để dễ quản lý khoảng cách */
}

.task-info a:hover {
    text-decoration: underline; /* Gạch chân khi hover */
}

.task-info a:visited {
    color: #3b3b3b; /* Màu sắc cho link đã truy cập */
}
